<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="../public/favicon/favicon-32x32.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-pink-500 to-sky-400 min-h-[100vh]">
    <style>
      
    @media screen and (min-width:768px) {
.switch {
  position: relative;
  display: inline-block;
  height: 10rem;
  border-radius: 15px;
  overflow: hidden;
 
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.slider:before {
  position: absolute;
  content: "Job seeker";
  height: 10rem;
  width: 18.5rem;
  left: 0px;
  bottom: 0px;
  background-color: rgb(69, 69, 69);
  -webkit-transition: .4s;
  transition: .4s; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  text-shadow:12px red;
  
}

input:checked + .slider {
  background-color: #2196F3;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before  {
  -webkit-transform: translateX(37.5rem);
  -ms-transform: translateX(37.5rem);
  transform: translateX(18.5rem);
  content: "Organization";
}
.con{
    display: absolute;
    align-items: center;
    justify-content: center;
   
}
        }
/* 767 width below */
        @media screen and (max-width:768px) {
.switch {
  position: relative;
  display: inline-block;
  height: 5rem;
  border-radius: .5rem;
  overflow: hidden;
 
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* background-image: url(`https://in.images.search.yahoo.com/images/view;_ylt=AwrKC1oaxfNjPpsGAWm9HAx.;_ylu=c2VjA3NyBHNsawNpbWcEb2lkA2UwMWRmNmRmNDdmYTc1YzRiZTc5M2RhYjNlZGFiMmI1BGdwb3MDMQRpdANiaW5n?back=https%3A%2F%2Fin.images.search.yahoo.com%2Fsearch%2Fimages%3Fp%3Dimage%26type%3DE211IN885G0%26fr%3Dmcafee%26fr2%3Dpiv-web%26tab%3Dorganic%26ri%3D1&w=2560&h=1600&imgurl=www.wallpapers13.com%2Fwp-content%2Fuploads%2F2015%2F12%2FNature-Lake-Bled.-Desktop-background-image.jpg&rurl=http%3A%2F%2Fwww.wallpapers13.com%2Fnature-lake-bled-desktop-background-image%2F&size=2234.7KB&p=image&oid=e01df6df47fa75c4be793dab3edab2b5&fr2=piv-web&fr=mcafee&tt=Nature+Lake+Bled.+Desktop+Background+Image+%3A+Wallpapers13.com&b=0&ni=21&no=1&ts=&tab=organic&sigr=j0VyGPAvh1yF&sigb=wR6G56kuwDpq&sigi=CieOTTSkY8iK&sigt=WC9YxOxodi9c&.crumb=/zNDddDMtMb&fr=mcafee&fr2=piv-web&type=E211IN885G0`); */
  background-size: 17rem 5rem;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.slider:before {
  position: absolute;
  content: "Job seeker";
  height: 5rem;
  width: 52.75%;
  left: 0px;
  bottom: 0px;
  background-color: rgb(69, 69, 69);
  -webkit-transition: .4s;
  transition: .4s; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  text-shadow:12px red;
  font-size: 70%;
  
}

input:checked + .slider {
  background-color: #2196F3;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before  {
  -webkit-transform: translateX(37.5rem);
  -ms-transform: translateX(37.5rem);
  transform: translateX(8.5rem);
  content: "Organization";
}
.con{
    display: absolute;
    align-items: center;
    justify-content: center;
   
}
        }
footer{
    top:100%;
    position: sticky;
    width: 100%;
}

</style>
    
    <!-- <nav class="bg-black text-gray-100 justify-center flex sticky top-0 z-[1]">
        <ul class="inline-flex  justify-center mx-[10%]">
            <li
                 class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6  hover:ab">
                <a href="#end"><img src="../public/favicon/fav2/favicon-32x32.png"></a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6  hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../home">Home</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="./about">About</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../search-employee/search">Search employee</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../search-job/search">Search job</a>
            </li>
            <!-- rest bar -->
            <!-- <li class="md:w-[10rem] w-[0px]"></li>
            <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="./login">Login</a>
            </li>
            <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="./signup">SignUp</a>
            </li>
        </ul>
  </nav> -->  
  <nav class="bg-black text-gray-100 justify-center flex sticky top-0 z-[1]">
    <ul
      class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 float-left hover:ab">
      <a href="#end"><img src="../public/favicon/fav2/favicon.ico"></a>
    </ul>
    <ul class="hidden md:inline-flex  justify-center  bg-black">
       
        <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6  hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../home">Home</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../about">About</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../search-employee/search">Search employee</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../search-job/search">Search job</a>
            </li>
            <!-- rest bar -->
            <li class="md:w-[10rem] w-[0px]"></li>
            <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="./login">Login</a>
            </li>
            <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="./signup">SignUp</a>
            </li>
        
    </ul>
    <ul class="w-auto "></ul>
    <ul class="float-right md:hidden  p-6 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg" id="menu" onclick="Menu()" onblur="qMenu()">Menu
    </ul>
  <!-- Menu-->
    <ul class="hidden justify-center block w-full  bg-black right-0 top-[4rem] " id="list">
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../home">Home</a>
       </li>
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../about">About</a>
       </li>
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../search-employee/search">Search employee</a>
       </li>
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../search-job/search">Search job</a>
       </li>
       <!-- rest bar -->
       <li class="w-0 min-[930px]:w-[10rem] "></li>
       <li
       class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
       <a href="./login">Login</a>
       </li>
       <li  
       class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
       <a href="./signup">SignUp</a>
       </li>
       
   </ul>
         
        <script>
          const menu=document.getElementById("menu");
          const list=document.getElementById("list");
          function Menu(){
           if(list.style.position==="absolute"){
           list.style.position='relative';
           list.style.display='none';
          }
           else {
           list.style.position='absolute';
           list.style.display='block';
          }
          }
          function qMenu() {
           list.style.position='absolute';
           list.style.display='block';
          }
           
         </script>
</nav>
<section class="h-auto flex justify-center items-center my-[2rem] md:my-[6rem]">
    <div class=" flex item-center con hidden xl:inline-flex">
       
        <p class=" text-4xl" style="width:600">Welcome to Job Geek <br></p>
    </div>
    <div class="  bg-white rounded-lg  border-2 border-slate-900 ">
        <div class="p-4 sm:p-6 py-8 flex " >
            <label class="switch justify-center rounded-[10px] w-full border-[1px] border-solid border-black">
                <input type="checkbox" id="formSwitch">
                <span class="slider"><img src="../public/images/search-employee.jpeg"></span>
            </label>
            
        </div>
        <hr class="mx-6 my-2 bg-slate-900 h-[2px]">
        <!-- < -->
        <form action="/user/login" method="post" id="form1">
        <div class=" md:w-[40rem] w-[20rem] grid grid-cols-2 p-4 sm:p-8">
            <div class="col-span-2">
                <label  class="block text-gray-600 md:text-3xl font-bold mb-6 text-[1.5rem]" for="username">Login</label>
                <input name="user_name" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6" id="username" type="text" placeholder="Username">
            </div>
            <div class="col-span-2">
                <label class="block text-gray-600 md:text-3xl font-bold mb-6  text-[1.5rem]" for="password">Password</label>
                <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 mb-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password" required>
            </div>
            <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 my-4 rounded mx-2 " type="submit" >
                    Sign in 
                </button>
            </div>
            <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 my-4 rounded mx-2" >
                    <a href="../user/signup">Sign up</a>
                </button>
             </div>
            <div class="col-span-2 text-cyan-700 mx-2 py-6"><a href="../user/forgot_password">forgot password?</a></div>
        </div>
        </form>
        <!-- > -->
        <!-- < -->
        <form action="/org/login" method="post" id="form2" style="display:none">
            <div class=" md:w-[40rem] w-[20rem] grid grid-cols-2 p-8">
                <div class="col-span-2">
                    <label  class="block text-gray-600 md:text-3xl font-bold mb-6 text-[1.5rem]" for="orgname">Login org</label>
                    <input name="org_name" class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6" id="orgname" type="text" placeholder="Username">
                </div>
                <div class="col-span-2">
                    <label class="block text-gray-600 md:text-3xl font-bold mb-6  text-[1.5rem]" for="password">Password</label>
                    <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 mb-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password" required>
                </div>
                <div>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 my-4 rounded mx-2 " type="submit" >
                        Sign in 
                    </button>
                </div>
                <div>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 my-4 rounded mx-2" >
                        <a href="/org/signup">Sign up</a>
                    </button>
                 </div>
                <div class="col-span-2 text-cyan-700 mx-2 py-6"><a href="/org/forgot_password">forgot password?</a></div>
            </div>
            </form>
            <!-- > -->
    </div>
   <script>
    const toggleform=document.getElementById("formSwitch");
    const form1=document.getElementById("form1");
    const form2=document.getElementById("form2");   
    toggleform.addEventListener("change",function(){
        if(this.checked){
            form1.style.display="none";
            form2.style.display="block";
            console.log("on")
        }else{
            form2.style.display="none";
            form1.style.display="block";
            console.log("off")
        }

    })
   </script>
</section>
<footer>
    <section class="h-max  bg-gray-500 text-gray-100">
        <ul class="justify-center">
            <li class="flex justify-center mx-4 py-5 font-bold">Copy right 2022-<a href="./Home.html" class="hover:underline">Job Geek</a><p class="text-xs">TM</p>.All right received
            </li>
            <li class="flex justify-center mx-4 py-5">Address-baroda,varnama,Babaria institute of technology</li>
            <ul class="flex justify-center mx-4 py-5">
                <li class=" h-6 w-6 mx-2">
                    <a href="https://www.youtube.com/channel/UCpnW4eginLfg2rCcMjAn5dA?view_as=subscriber">
                        <img class="h-6" src="https://www.freepnglogos.com/uploads/youtube-logo-transparent-10.png"
                            width="200" alt="youtube logo transparent">
                    </a>
                </li>
                <li class="h-6 w-6 mx-2">
                    <a href="https://www.facebook.com/babaria.institute/"></a>
                    <img class="h-6"
                        src="https://www.freeiconspng.com/uploads/-van-de-laatste-nieuwsberichten-volg-ons-via-twitter-en-facebook-4.png"
                        width="200" alt="Facebook new logo png">
                    </a>
                </li>
                <li class="h-2 w-6 mx-2">
                    <a
                        href="https://www.instagram.com/bits.edu.campus_official/?utm_source=ig_profile_share&igshid=15s3hwp5s8tp8"></a>
                    <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png">
                    </a>
                </li>
            </ul>
        </ul>
    </section>
</footer>
</body>
</html>