<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset email</title>
    <link rel="icon" type="image/x-icon" href="../public/favicon/favicon-32x32.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-pink-500 to-sky-400 min-h-[100vh]">
    <style>
      
    @media screen and (min-width:768px) {

.con{
    display: absolute;
    align-items: center;
    justify-content: center;
   
}
        }
/* 767 width below */
        @media screen and (max-width:768px) {

.con{
    display: absolute;
    align-items: center;
    justify-content: center;
   
}
        }
footer{
    top:100%;
    position: sticky;
    width: 100%;
}

</style>
    
    <!-- <nav class="bg-black text-gray-100 justify-center flex sticky top-0 z-[1]">
        <ul class="inline-flex  justify-center mx-[10%]">
            <li
                 class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6  hover:ab">
                <a href="../home"><img src="../public/favicon/fav2/favicon-32x32.png"></a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6  hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../home">Home</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../about">About</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../search-employee/search">Search employee</a>
            </li>
            <li
                class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
                <a href="../search-job/search">Search job</a>
            </li>
            <!-- rest bar -->
            <!-- <li class="md:w-[10rem] w-[0px]"></li>
            <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="./login">Login</a>
            </li>
            <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="./signup">SignUp</a>
            </li>
        </ul>
  </nav> --> -->
  <nav class="bg-black text-gray-100 justify-center flex sticky top-0 z-[1]">
    <ul
      class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 float-left hover:ab">
      <a href="#end"><img src="../public/favicon/fav2/favicon.ico"></a>
    </ul>
    <ul class="hidden md:inline-flex  justify-center  bg-black">
       
        <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6  hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="../home">Home</a>
        </li>
        <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="../about">About</a>
        </li>
        <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="../search-employee/search">Search employee</a>
        </li>
        <li
            class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
            <a href="../search-job/search">Search job</a>
        </li>
        <!-- rest bar -->
        <li class="w-0 md:w-[10rem] "></li>
        <li
        class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
        <a href="../user/login">Login</a>
        </li>
        <li  
        class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg">
        <a href="../user/signup">SignUp</a>
        </li>
        
    </ul>
    <ul class="w-auto "></ul>
    <ul class="float-right md:hidden  p-6 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-b-2 hover:pb-2 text-xs sm:text-base md:text-lg" id="menu" onclick="Menu()" onblur="qMenu()">Menu
    </ul>
  <!-- Menu-->
    <ul class="hidden justify-center block w-full  bg-black right-0 top-[4rem] " id="list">
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../home">Home</a>
       </li>
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../about">About</a>
       </li>
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../search-employee/search">Search employee</a>
       </li>
       <li
           class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
           <a href="../search-job/search">Search job</a>
       </li>
       <!-- rest bar -->
       <li class="w-0 min-[930px]:w-[10rem] "></li>
       <li
       class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:rounded-lg hover:rounded-lg hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
       <a href="../user/login">Login</a>
       </li>
       <li  
       class="p-2 xs:p-2 sm:p-2 md:p-4 lg:p-4 xl:p-6 hover:border-2 hover:pb-2 text-xs sm:text-base md:text-lg">
       <a href="../user/signup">SignUp</a>
       </li>
       
   </ul>
         
        <script>
          const menu=document.getElementById("menu");
          const list=document.getElementById("list");
          function Menu(){
           if(list.style.position==="absolute"){
           list.style.position='relative';
           list.style.display='none';
          }
           else {
           list.style.position='absolute';
           list.style.display='block';
          }
          }
          function qMenu() {
           list.style.position='absolute';
           list.style.display='block';
          }
           
         </script>
</nav>
<section class="h-auto flex justify-center items-center my-[2rem] md:my-[6rem]">
    <div class=" flex item-center con hidden xl:inline-flex">
       
        <p class=" text-4xl" style="width:600">Welcome to Job Geek <br></p>
    </div>
    <div class="  bg-white rounded-lg  border-2 border-slate-900 ">

  
        <!-- < -->
        <form action="/org/update_email?token=<%= token %>" method="post">
        <div class=" md:w-[40rem] w-[20rem] grid grid-cols-2 p-8">
            <div class="col-span-2">
                <label  class="block text-gray-600 md:text-3xl font-bold mb-6 text-[1.5rem]" for="psw">New Email</label>
                <input  class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6"   id="psw" onkeyup="pass()" type="text" placeholder="orgname">
            </div>
            <div class="col-span-2">
                <label class="block text-gray-600 md:text-3xl font-bold mb-6  text-[1.5rem]" for="repsw">Confirm Email</label>
                <input name="email" class="shadow appearance-none border rounded w-full py-2 px-3 mb-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="repsw" onkeyup="pass()" type="text" placeholder="Password" required><p id="error"></p>
            </div>
            <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 my-4 rounded mx-2 " type="submit" >
                    Submit
                </button>
            </div>
            <script>
                function pass() {
                    var pas = document.getElementById("psw").value;
                    var rpas = document.getElementById("repsw").value;
                     
                     
                    if (pas  != rpas ) {
                        document.getElementById("error").innerHTML = "Enter same Email in Retype Email..";
                    } else {
                        document.getElementById("error").innerHTML = "";
                        document.getElementById("btn").disabled = false;
                    }
    
                
                }
            </script>
        </div>
        </form>
        <!-- > -->
    </div>
   
</section>
<footer>
    <section class="h-max  bg-gray-500 text-gray-100">
        <ul class="justify-center">
            <li class="flex justify-center mx-4 py-5 font-bold">Copy right 2022-<a href="./Home.html" class="hover:underline">Job Geek</a><p class="text-xs">TM</p>.All right received
            </li>
            <li class="flex justify-center mx-4 py-5">Address-baroda,varnama,Babaria institute of technology</li>
            <ul class="flex justify-center mx-4 py-5">
                <li class=" h-6 w-6 mx-2">
                    <a href="https://www.youtube.com/channel/UCpnW4eginLfg2rCcMjAn5dA?view_as=subscriber">
                        <img class="h-6" src="https://www.freepnglogos.com/uploads/youtube-logo-transparent-10.png"
                            width="200" alt="youtube logo transparent">
                    </a>
                </li>
                <li class="h-6 w-6 mx-2">
                    <a href="https://www.facebook.com/babaria.institute/"></a>
                    <img class="h-6"
                        src="https://www.freeiconspng.com/uploads/-van-de-laatste-nieuwsberichten-volg-ons-via-twitter-en-facebook-4.png"
                        width="200" alt="Facebook new logo png">
                    </a>
                </li>
                <li class="h-2 w-6 mx-2">
                    <a
                        href="https://www.instagram.com/bits.edu.campus_official/?utm_source=ig_profile_share&igshid=15s3hwp5s8tp8"></a>
                    <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png">
                    </a>
                </li>
            </ul>
        </ul>
    </section>
</footer>
</body>
</html>